meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
if page._noindex && !page._nofollow
    meta(name="robots", content="noindex")
if page._noindex && page._nofollow
    meta(name="robots", content="noindex,nofollow")
each alternate in (alternates && alternates.length) ? alternates : []
    link(rel="alternate", hreflang=alternate.hreflang, href=alternate.href)
link(rel="canonical", href=url)

title
    = page.head.title[language]
meta(name="description", content=page.head.description[language])
meta(name="keywords", content=page.head.keywords[language])

<!-- #region Global -->
meta(name="application-name", content=config.name[language])
meta(name="referrer", content="strict-origin")
meta(name="theme-color", content=config.themeColor)
meta(name="author", content="Thibault Meyer")
link(rel="icon", href="/assets/img/favicon.ico")
if(!config.disableManifest)
    link(rel="manifest", href="./manifest.json")
<!-- #endregion Global -->

<!-- #region Microsoft -->
meta(http-equiv="X-UA-Compatible", content="ie=edge")
<!-- #endregion Microsoft -->

script(defer, type="module", src="/script/app.ts")

link(type="text/css", rel="preload", as="style", href="/style/style.scss")
link(type="text/css", rel="stylesheet", href="/style/style.scss")

<!-- To register the service worker file -->
if(config.https && !config.disableServiceWorker)
    script(defer, src="/sw-register.js")
